*
{
    margin: 0;
    padding: 0;
}
/* img
{ 
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
} */
.smallph
{
    min-height: 20px;
    min-width: 20px;
    align-self: center; 
    z-index: 1000;
    position: relative;
}
body
{
    width: 100%;
    height: 100vh;
    background-color: #F2F8FD;
    font-family: 'Baloo 2';
    color:#18333E;
}
.centering
{
    display: flex;
    padding-bottom: 40px;
    position: relative;
    height: 40px;
    top:10px;
    width: calc(100% - 80px);
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
}
.center
{
    display: flex;
    width: calc(100% - 80px);
    height: 90%;
    padding-left: 40px;
    padding-right: 40px;
}
.menu
{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}
.search
{   
    display: flex;
    border-radius: 25px;
    background-color:  #E9F1FA;
    width: 85%;
    height: 100%;
    border: none;
    text-align: left;
    padding-left: 40px;
    font-size: 18px;
    letter-spacing: 1px;
}
.log
{
    display: flex;
    width: 9%;
    height: 40px;
    align-self: center;
    align-items:center;
    flex-direction: column;
}
.loop
{
    position: absolute;
    top:10px;
    left: 12.5%;
    height: 18px;
    width: 18px;
}
.param
{   
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.par
{
    height: 24px;
    width: 24px;
    align-self: center;
}
.push
{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid grey;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 120;
}
.pushh
{
    height: 18px;
    width: 18px;
    align-self: center; 
}
.profile
{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid grey;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.prof
{
    height: 20px;
    width: 20px;
    align-self: center; 
}
.location
{
    display: flex;
    border-radius: 25px;
    background-color:  #E9F1FA;
    width: 28%;
    height: 100%;
    flex-direction: row;
}
.tag
{
    padding-left: 10px;
    min-height: 20px;
    min-width: 20px;
    align-self: center; 
}
.loco
{
    background-color: #E9F1FA;
    width: 90%;
    height: 80%;
    align-self: center;
    border: 0px;
}
.icon
{
    height: 100%;
    width: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fullsearch
{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row; 
    gap: 3.5%;
}
.content
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.cont
{
    display: flex;
    width: 80%;
    height: auto;
    gap:20px;
}
.cont1
{
    display: flex;
    width: 80%;
    height: auto;
    position: relative;
    z-index: 1;
    gap:20px;
}
.cont1::after{
    content: '';
    height: 40px;
    width: 70px;
    background-color: #F9D44A;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: 0;
    border-radius: 0px 30px 30px 0px;
    gap:20px;
}
.theme
{
    text-align: left;
    padding-left: 10px;
}
.links
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    gap: 30px;
    margin-top: 10px;
    padding-left: 10px;
}
.lin
{
    text-decoration:none;
    font-size: 14px;
    color: grey;
}
a
{
    text-decoration: none;
    color: #18333E;
}
.board
{
    display: flex;
    flex-direction: column;
    top: 10%;
    font-size: 18px;
    font-family: 'Baloo 2';
    line-height: 36px;
    height: 90vh;
    width: 10%;
    justify-content: space-around;
}
.cards
{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
}
.price
{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 35%;
    height: 100%;
    justify-content: space-between;
}
.Description
{
    text-align: left;
    padding-top: 15px;
}
.mount
{
    height: 270px;
    width: 100%;
    border-radius: 25px;
    align-self: center;
}
.catalog
{   
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    gap: 25px;
}
.name
{   
    display: flex;
    width: auto;
    height: auto;
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: 18px;
    line-height: 36px;
    gap: 10px;
}
.pages
{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 28%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
.page
{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90%;
    width: 17%;
    padding: 10px;
    border: 1px solid #18333E;
    border-radius: 20px ;
    background-color: #E9F1FA;
    text-align: center;
    align-items: center;
}
.img_page
{
    height: 250px;
    width: 200px;
}
.calendar
{
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
    align-items: center;
}
.dt
{
    margin-top: 20px;
    display: flex;
    height: 20%;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.toddate
{
    border-radius: 20px;
    border: 1px solid #B4BCC4;
    height: 32px;
    width: 140px;
}
.today
{
    text-align: center;
    line-height: 32px;
    font-size: 16px;
}
.bookingdate
{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.checkedbd
{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #18333E;
    border-radius: 35px;
    gap:10px;
    width: 7%;
    text-align: center;
    color:white;
    font-size: 20px;
    line-height: 40px;
}
.checkedbd::after
{
    content: '';
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #F9D44A;
    height: 8px;
    width: 5px;
    border-radius: 13px;
}
.bookdate
{
    display: flex;
    flex-direction: column;
    width: 7%;
    height: 100%;
    gap:15px; 
    text-align: center;
    justify-content: center;
    font-size: 20px;
    line-height: 40px;
}
.trs
{
    align-self: center;
    max-width: 70%;
    max-height: 70%;
}
.descr
{
    display: flex;
    width: 95%;
    height: auto;
    justify-content: space-between;
}
.cost
{
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.travel
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.per
{
    width: 85%;
    font-size:16px;
    text-align: justify;
}
.pr
{
    font-size: 40px;
}
.col
{
    display: flex;
    flex-direction: column;
    gap:5px;
    height: 60px;
}
.places
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.book
{
    background-color: #18333E;
    color:#FFFFFF;
    font-size: 18px;
    border-radius: 30px;
    width: 175px;
    height: 60px;
    border: 0;
}
.place
{
    height: 80px;
    width: 125px;
}
.despl
{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.mo
{
    display: flex;
    height: auto;
    width: auto;
    line-height: 20px;
    gap:5px;
}
.heart
{   
    display: flex;
    background-color: #e0e8f2;
    border-radius: 50%;
    justify-content: center;
    height: 60px;
    width: 60px;
}
.blockheart
{   
    display: flex;
    position: absolute;
    background-color: #e0e8f2;
    border-radius: 50%;
    justify-content: center;
    align-self: center;
    height: 40px;
    width: 40px;
    top: 30px;
    right: 30px;
}
.blockheartgen
{   
    display: flex;
    position: absolute;
    background-color: #e0e8f2;
    border-radius: 50%;
    justify-content: center;
    align-self: center;
    height: 40px;
    width: 40px;
    top: 5%;
    right: 10%;
    z-index: 100;
}
.rgt
{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}
.lft
{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}
.month
{
    font-family: 'Baloo 2';
    color:#18333E;
    margin-top: 10px;
    display: flex;
    font-size: 20px;
}
.pushups
{
    display: none;
}
.pushupsapp
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    right: 6.5%;
    height: calc(330px - 10px);
    width: 330px;
    border-radius: 20px;
    border: 1px silid rgba(0, 0, 0, 0.469);
    z-index: 110;
    gap: 10px;
    padding-top: 10px;
    background-color:  #E9F1FA;
}
.pushupsapp::after {
    position: absolute;
    content: "";
    height: 40px;
	width: 45px;
    right: 0%;
    top: -20%;
    border-radius: 50%;
    box-shadow: 0px 20px 0 0 #F2F8FD;
    z-index: 70;
}
.pushupsapp::before {
    position: absolute;
    content: "";
    height: 45px;
	width: 45px;
    background-color:  #E9F1FA;
    right: 0%;
    top: -10%;
}
.pushelements
{
    display: flex;
    height: 13%;
    width: 80%;
    color: black;
    position: relative;
    z-index: 101;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    justify-content: space-around;
    background: #F2F8FD;
    border-radius: 30px; 
}
.point
{
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: red;
    top: 0;
    right: 6.5%;
}
.collage
{
    display: flex;
    position: absolute;
    top: 20%;
    right: 7.5%;
    width: 85%;
    height: 12.5%;
    background: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(2.5px);
    border-radius: 20px;
    z-index: 85;
}
.collaheph
{
    display: flex;
    position: absolute;
    z-index: 90;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
.text_price
{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
}
.coll
{
    width: 75px;
    height: 55px;
}
.tours
{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.popup
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: #18333E;
    border-radius: 20px;
    height: 119px;
    transition: 3s;
    animation-duration: 1s;
    animation-name: slide;
}
@keyframes slide
{
    from 
    {
        width: 0%;
        height: 35px;
    }
  
    to 
    {
        margin-left: 0%;
        width: 50%;
        height: 119px;
    }
}
.pop
{
    display: flex;
    height: 50%;
    width: 50%;
    justify-content: space-around;
    gap: 20px;
}
.popnull
{
    display: none;
    height: 50%;
    width: 50%;
    justify-content: space-around;
    gap: 20px;
}
.popup_text
{
    display: flex;
    color: white;
    align-items: center;
}
.null
{
    content: '';
    height: 100%;
    width: auto;
    animation-duration: 2s;
    animation-name: appear;
}
@keyframes appear 
{
    from 
    {
        margin-left: -10%;
    }
    to 
    {
        margin-left: 0%;
        height: 118px;
        width: 119px;
    }
}
.null img
{
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}
.catalogpage
{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: space-around;
}
.column_catalog
{
    display: flex;
    height: 100%;
    width: 90%;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.Header_catal
{
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
